# This is Git's per-user configuration file.
[user]
# Please adapt and uncomment the following lines
name = Tom Allpress
email = tom@automata.tech
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[alias]
	lg = log --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit
[coderabbit]
	machineId = cli/3903811d82ee4c98aa54d792b1aa9e2f
